<!--The content below is only a placeholder and can be replaced.-->
<head>
  <title>
    Welcome to {{ title }}
  </title>
</head>
<div style="background-color: greenyellow">
<h1 style="margin-left: 37%">Welcome to {{title}}</h1>
</div>
<br>
<br>
<div *ngIf="invalidDetails" style="margin-left: 40%">
 
        <h5>User Name:<input [(ngModel)]="usernameEntered"></h5>
        <h5>Custer/client:
          <select [(ngModel)]="userType" (change)="action()">
          <option value="customer"> customer</option>
          <option value="client">client</option>
          </select></h5>
          <h4 *ngIf="showCustomerCheckBox"><input type="checkbox" (change)="customerCheck($Event)" name="checkbox" id="checkbox" [(ngModel)]="boxChecked">I as a customer accept my terms and conditions</h4>
          <h4 *ngIf="showClientCheckBox"><input type="checkbox" (change)="clientCheck($Event)" name="checkbox" id="checkbox" [(ngModel)]="boxChecked">I as a client accept my terms and conditions</h4>
          <h5>Password:<input type="password" [(ngModel)]="passwordEntered"></h5>
          <button type="submit" style="font-size: 14px" (click)="rend()" >submit</button>
          <p *ngIf="invalidDetailsDisplay">The login details are wrong</p>
          <p *ngIf="!usernameSet"> Please enter User Name</p>
          <p *ngIf="!passwordSet"> Please enter Password</p>
          <p *ngIf="!userTypeSelected"> Please select User Type</p>
          <p *ngIf="!supressCheckBox"> Please agree to terms and conditons and submit</p>
</div>
<div *ngIf="validDetails">
        <p style="background-color: grey; color:indigo;font-style:bold;font-size:22px ">The login details are true</p>
        <button (click)="back()">logout</button>

        <!-- <div *ngFor="let x of namesss; let a =index">
          <h2>person is {{x}}
            <h2 *ngFor="let i of msg"> message: {{i}}</h2>
          </h2>

        </div> -->

        <div *ngFor="let x of namesss; let a =index">
            <h2>{{x}} <button (click)="new(a)"> logout {{a+1}}</button>  </h2>
               <p>: {{msg[a]}}  </p>            
           
  
          </div> 


</div>

<router-outlet></router-outlet>
